<footer class="p-4 bg-gray-100 sm:p-6">
    <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a [routerLink]="['/', route.circles]" class="flex items-center">
                <img src="assets/img/brand/logo-colored-64.png" alt="PassoAvanti image brand" class="h-8 mr-3"/>
                <span class="self-center text-2xl font-semibold whitespace-nowrap">Vote your face</span>
            </a>
        </div>
        <ul class="flex space-x-4 text-gray-600">
            <li>
                <a href="https://voteyourface.de" class="hover:underline">Home</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Terms &amp; Conditions</a>
            </li>
        </ul>
    </div>
    <hr class="my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4"/>
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray sm:text-center">© {{ currentDate | date: 'yyyy' }} <a
                href="https://passoavanti.eu/"
                class="hover:underline">Vote your face</a>. All Rights Reserved. Powered by Carlo Verzeri.
        </span>
    </div>
</footer>
