<h1 mat-dialog-title>Create Circle</h1>
<div mat-dialog-content>
    <form [formGroup]="form"
          (submit)="onSubmit()">
        <div class="grid grid-cols-2 gap-3 items-center">
            <div class="col-span-2 mb-3">
                <mat-label>
                    <label for="name">
                        Name
                    </label>
                </mat-label>
                <mat-form-field class="w-full"
                                appearance="outline">
                    <input matInput
                           type="text"
                           id="name"
                           name="name"
                           required
                           [formControl]="form.controls.name"/>
                    <mat-hint class="tracking-tight leading-tight">
                        A Circle represents a point of interest people should be involved to be voted in there.
                    </mat-hint>
                    @if (form.controls.name.invalid) {
                        <mat-error>Invalid name or non name given</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-span-2">
                <mat-label>
                    <label for="description">
                        Description
                    </label>
                </mat-label>
                <mat-form-field class="w-full"
                                appearance="outline">
                             <textarea matInput
                                       [cdkTextareaAutosize]="true"
                                       [rows]="2"
                                       [cols]="30"
                                       id="description"
                                       [placeholder]="'Give a representative description for what the circle is for.'"
                                       [formControl]="form.controls.description">
                            </textarea>
                </mat-form-field>
            </div>
            <div class="col-span-2">
                <mat-checkbox [formControl]="form.controls.private">
                    Private
                </mat-checkbox>
            </div>
            <div *rxIf="form.controls.private.value"
                 class="col-span-2">
                <label>
                    <span class="daisy-label-text">Add some voters to the circle</span>
                </label>
                <vyf-user-autocomplete-select [fetchOptionsFn]="allUsersFn$"
                                              [filteredFetchOptionsFn]="allFilteredUsersFn$"
                                              (selectedUsers)="onUsersSelected($event)">
                </vyf-user-autocomplete-select>
            </div>
        </div>

        <div class="flex flex-row gap-2 place-content-end">
            <button mat-stroked-button
                    type="button"
                    (click)="close()">
                Cancel
            </button>
            <vyf-submit-button [isLoading]="isLoading"
                               [label]="'Create Circle'"
                               [formIsValid$]="formIsValid$">
            </vyf-submit-button>
        </div>
    </form>
</div>
