<h1 mat-dialog-title>{{ view.circle.name }}</h1>
<div mat-dialog-content>
    <mat-tab-group animationDuration="0ms"
                   [selectedIndex]="selectedTab.value"
                   (selectedIndexChange)="selectedTab.setValue($event)"
                   [color]="'primary'">

        <mat-tab label="Overview">
            <app-circle-detail-settings-overview>
            </app-circle-detail-settings-overview>
        </mat-tab>

        @if (canEditCircle) {
            <mat-tab label="Image">
                <app-circle-detail-settings-image>
                </app-circle-detail-settings-image>
            </mat-tab>
        }

        <mat-tab label="Members">
            <app-circle-detail-settings-members>
            </app-circle-detail-settings-members>
        </mat-tab>

        @if (canEditCircle) {
            <mat-tab label="Actions">
                <app-circle-detail-settings-actions (afterRouting)="close()">
                </app-circle-detail-settings-actions>
            </mat-tab>
        }

    </mat-tab-group>

</div>
