<h1 mat-dialog-title>{{ view.circle.name }}</h1>
<div mat-dialog-content>
    <mat-tab-group animationDuration="0ms"
                   [selectedIndex]="selectedTab.value"
                   (selectedIndexChange)="selectedTab.setValue($event)"
                   [color]="'primary'">

        <mat-tab label="Overview">
            <app-circle-detail-edit-form [circle]="view.circle">
            </app-circle-detail-edit-form>
        </mat-tab>

        <mat-tab label="Image">
            <vyf-image-upload [profileImageSrc]="circleImageSrc$"
                              (fileSelected)="onCircleImageSelected($event)">
            </vyf-image-upload>
        </mat-tab>

        <mat-tab label="Members">
            <ng-container *rxFor="let member of view.members">
                <vyf-user-list-item [user]="member.user">
                </vyf-user-list-item>
            </ng-container>
        </mat-tab>

        @if (canEditCircle) {
            <mat-tab label="Actions">
                <h3>
                    General:
                </h3>

                <button mat-flat-button
                        color="warn"
                        role="button"
                        type="button"
                        (click)="onDeleteCircle()">
                    Delete Circle
                </button>
            </mat-tab>
        }

    </mat-tab-group>

</div>
