<p *rxIf="hasVotedFor" class="text-blue-400 text-sm">
    You voted for
</p>

<div class="flex flex-row items-center justify-between gap-6">
    <p class="font-semibold text-2xl text-gray-900">
        {{placement.ranking.number}}
    </p>

    <div class="relative w-14 h-14 rounded hover:shadow hover:ring">
        <img *rxIf="placement.user.profile.imageSrc"
             class="object-cover rounded"
             ngSrc="{{placement.user.profile.imageSrc}}"
             alt="{{placement.user.username}}"
             fill="true">
        <div *rxIf="!placement.user.profile.imageSrc"
             class="bg-gray-800 text-gray-200 w-14 h-14 flex items-center justify-center rounded">
            <span class="text-xl uppercase">{{placement.user.username | shortName}}</span>
        </div>
    </div>

    <div class="flex-2 flex flex-col justify-between gap-y-2.5 ml-4 overflow-hidden">
        <p class="text-gray-900">
            {{placement.ranking.votes | shortNumber }}
        </p>

        <p class="text-gray-900">
            {{placement.user.username}}
        </p>
    </div>

    <div class="flex flex-col justify-between gap-y-1">
        <i-feather class="align-top"
                   name="{{placement.ranking.placement | trendingIcon}}">
        </i-feather>

        <button *rxIf="canVote$"
                mat-flat-button
                color="accent"
                type="button"
                (click)="onVote(circle.id, placement.ranking.identityId)">
            vote
        </button>
    </div>
</div>
