<div class="flex flex-row justify-between items-center mt-3">
    <h3>
        Candidates:
    </h3>

    <p *rxLet="settingsCandidate$; let settingsCandidate"
       class="text-sm font-normal text-gray-600">
        {{ settingsCandidate.currentCount }}/{{ settingsCandidate.maxAllowed }}
    </p>
</div>

<vyf-user-autocomplete-select [fetchOptionsFn]="allUsersFn$"
                              [filteredFetchOptionsFn]="allFilteredUsersFn$"
                              (selectedUser)="onCandidateSelected($event)"
                              (deselectedUser)="onCandidateDeselection($event)"
                              [placeholder]="'Search candidate'"
                              [preSelectedUsers]="candidateUsers$ | push"
                              [showSelectionInField]="false"
                              [removable]="canRemoveCandidate$ | push"
                              [addable]="canAddCandidate$ | push">
</vyf-user-autocomplete-select>

<div class="flex flex-col space-y-2 max-h-60 overflow-y-auto">
    <ng-container *rxFor="let member of candidateMembers$; trackBy: candidateMemberTrackingBy">
        <vyf-user-list-item [user]="member.user">

            <button *rxIf="canRemoveCandidate$"
                    mat-button
                    suffix-content
                    color="accent"
                    type="button"
                    (click)="removeCandidate(member)">
                <i-feather class="text-red-700 align-top"
                           name="x">
                </i-feather>
            </button>

        </vyf-user-list-item>
    </ng-container>
</div>

<hr class="text-gray-600 mt-4">

<div class="flex flex-row justify-between items-center mt-3">
    <h3>
        Voters:
    </h3>

    <p *rxLet="settingsVoter$; let settingsVoter"
       class="text-sm font-normal text-gray-600">
        {{ settingsVoter.currentCount }}/{{ settingsVoter.maxAllowed }}
    </p>
</div>

<vyf-user-autocomplete-select [fetchOptionsFn]="allUsersFn$"
                              [filteredFetchOptionsFn]="allFilteredUsersFn$"
                              (selectedUser)="onVoterSelected($event)"
                              (deselectedUser)="onVoterDeselection($event)"
                              [placeholder]="'Search voter'"
                              [preSelectedUsers]="voterUsers$ | push"
                              [showSelectionInField]="false"
                              [removable]="canRemoveVoter$ | push"
                              [addable]="canAddVoter$ | push">
</vyf-user-autocomplete-select>

<div class="flex flex-col space-y-2 max-h-60 overflow-y-auto">
    <ng-container *rxFor="let member of voterMembers$; trackBy: voterMemberTrackingBy">
        <vyf-user-list-item [user]="member.user">

            <button *rxIf="canRemoveVoter$"
                    mat-button
                    suffix-content
                    color="accent"
                    type="button"
                    (click)="removeVoter(member)">
                <i-feather class="text-red-700 align-top"
                           name="x">
                </i-feather>
            </button>

        </vyf-user-list-item>
    </ng-container>
</div>
