<h3>
    Members
</h3>
<ng-container *rxLet="view$; let view; suspense: suspense; suspenseTrigger: suspenseTrigger$;">
    @if (view.previewUsers.length) {
        <vyf-avatar-stack (stackClicked)="onShowMembers()"
                          [users]="view.previewUsers"
                          [plusCount]="view.membersCount">
        </vyf-avatar-stack>
    } @else {
        @if (view.canEditCircle) {
            <button mat-button
                    type="button"
                    role="button"
                    color="accent"
                    (click)="onShowMembers()">
                <mat-icon>
                    add
                </mat-icon>
                There are no Members - Invite some
            </button>
        } @else {
            There are no Members - Be the first and join!
        }
    }
</ng-container>

<ng-template #suspense>
    <vyf-skeleton-avatar-stack>
    </vyf-skeleton-avatar-stack>
</ng-template>
