<div class="layout-container">
    <h2 class="text-center">Circles</h2>

    <ng-container *rxLet="view$;
    let view;
    error: error;
    suspense: suspense;">
        <div class="flex flex-row justify-center">
            <h3>
                Your Circles
                <span class="font-light text-base text-gray-600">
                ({{view.circles.length}}/10)
            </span>
            </h3>
            <button class="daisy-btn"
                    type="button">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                </svg>
                Create Circle
            </button>
        </div>

        <div class="border rounded p-2">
            <app-circles-carousel [circles]="view.circles">
            </app-circles-carousel>
        </div>
    </ng-container>

    <ng-template #suspense>
        <div class="flex justify-center items-center">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
    <ng-template #error>ERROR!</ng-template>
</div>
