<button [matMenuTriggerFor]="menu"
        [matBadge]="(circles$ | push).length"
        [matBadgeHidden]="!(circles$ | push).length"
        [matBadgeOverlap]="false"
        [matBadgePosition]="'before'"
        [matBadgeSize]="'small'"
        [matBadgeColor]="'warn'"
        class="text-base font-medium text-gray-500 hover:text-gray-900">
    Invitations
</button>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent>
        @for (circle of circles$ | push; track $index) {
            <div mat-menu-item
                 [routerLink]="['/circles', circle.id]"
                 class="divide-y">
                <a [routerLink]="['/circles', circle.id]"
                   class="text-gray-950 hover:text-blue-700 block">
                    {{ circle.name }}:
                </a>

                <button mat-stroked-button
                        color="accent"
                        role="button"
                        type="button"
                        (click)="onRejection(circle)"
                        class="my-1.5">
                    Reject candidacy
                    <i-feather name="slash"
                               class="align-top flex-shrink-0 text-red-600">
                    </i-feather>
                </button>

                <button mat-stroked-button
                        color="accent"
                        role="button"
                        type="button"
                        (click)="onCommitment(circle)"
                        class="my-1.5">
                    Accept candidacy
                    <i-feather name="check"
                               class="align-top flex-shrink-0 text-green-600">
                    </i-feather>
                </button>
            </div>
        } @empty {
            <div mat-menu-item
                 [disabled]="true">
                <p>There are no invitations currently.</p>
            </div>
        }
    </ng-template>
</mat-menu>
