<div class="layout-container">
    <form [formGroup]="form"
          (submit)="onSubmit()">
        <div class="flex flex-row justify-between">
            <div>
                <a mat-raised-button
                   type="button"
                   color="accent"
                   [routerLink]="'/user/profile'">
                    Close
                </a>
            </div>

            <button mat-raised-button
                    color="primary"
                    type="submit">
                Save
            </button>
        </div>

        <div class="flex flex-col gap-4 pt-6">
            <mat-form-field class="w-full"
                            appearance="outline"
                            floatLabel="always">
                <mat-label>Why vote me</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #whyVoteMeRef
                          rows="2"
                          cols="30"
                          formControlName="whyVoteMe">
                    </textarea>
                <mat-hint [align]="'end'">
                    {{whyVoteMeRef.value.length}}/250
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="w-full"
                            appearance="outline"
                            floatLabel="always">
                <mat-label>Bio</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #bioRef
                          rows="2"
                          cols="30"
                          formControlName="bio">
                    </textarea>
                <mat-hint [align]="'end'">
                    {{bioRef.value.length}}/1500
                </mat-hint>
            </mat-form-field>
        </div>
    </form>
</div>
