<div class="layout-container layout-whitespace">

    <ng-container *rxLet="view$; let view;">
        <div class="flex flex-col gap-4">

            <section class="flex flex-row gap-2">
                <div class="rounded-xl bg-gray-200 py-1 px-3">
                    <p class="text-gray-950">
                        Circle:
                    </p>
                </div>
                <div class="rounded-xl bg-gray-100 py-1 px-3 flex-1 flex flex-row gap-2">
                    <p class="text-gray-950">
                        <a [routerLink]="['/circles', view.circle.id]">
                            {{view.circle.name}}
                        </a>
                    </p>
                    <i-feather name="arrow-right-circle"
                               class="align-top">
                    </i-feather>
                </div>
            </section>

            <section id="circleMetaData"
                     class="flex flex-row justify-between">
                <div>
                    <p>
                        Need a vote
                    </p>
                    <div class="flex flex-row">
                        <div class="bg-amber-500 rounded w-8 h-8">
                        </div>
                        <div class="bg-amber-400 rounded w-8 h-8">
                        </div>
                        <div class="bg-amber-300 rounded w-8 h-8">
                        </div>
                    </div>
                </div>

                <div class="flex flex-col">
                    <p>
                        Valid until
                    </p>
                    <p>{{view.circle.validUntil | date}}</p>
                    <p>{{view.circle.validUntil | date:'shortTime'}}</p>
                </div>
            </section>

            <section class="self-center max-w-lg flex flex-col gap-10">
                <ng-container *rxIf="view.topThreeRankings.length">
                    <app-top-three [topThreeRankings]="view.topThreeRankings"
                                   [circle]="view.circle">
                    </app-top-three>
                </ng-container>

                <ul *rxIf="view.rankings.length"
                    class="divide-y divide-gray-200">
                    <ng-container *rxFor="let ranking of view.rankings; let index = index;">
                        <li class="py-3 sm:pb-4">
                            <app-list-item [ranking]="ranking"
                                           [circle]="view.circle">
                            </app-list-item>
                        </li>
                    </ng-container>
                </ul>
            </section>

            <section *rxIf="!view.rankings.length"
                     class="self-center my-12">
                <div class="relative h-60 w-60">
                    <img ngSrc="/assets/img/svg/election-day.svg"
                         priority="true"
                         alt="election vote"
                         fill="true"
                         class="object-cover select-none">
                </div>

                <h5 class="text-xl text-center my-6 font-normal tracking-wide">
                    No one has voted, <br>
                    give a vote!
                </h5>
            </section>
        </div>

    </ng-container>
</div>
