<div class="layout-container layout-whitespace">

    <div class="grid grid-cols-4 gap-x-4 gap-y-6">

        <section class="col-start-1 col-span-full row-start-1">
            <app-ranking-select>
            </app-ranking-select>
        </section>

        <div class="col-start-1 col-span-2 row-start-2 md:col-span-1">
            <app-members-need-vote>
            </app-members-need-vote>
        </div>

        <div class="col-start-3 col-span-2 row-start-2 md:col-start-4 md:col-span-1">
            <app-valid-until>
            </app-valid-until>
        </div>

        <ng-container *rxLet="view$; let view; suspense: suspense; suspenseTrigger: suspenseTrigger$;">
            <section class="col-span-full row-start-3 md:col-start-2 md:col-span-2 md:row-start-2">
                @if (view.topThreePlacements.length) {
                    <app-top-three [topThreePlacements]="view.topThreePlacements"
                                   [circle]="view.circle"
                                   class="animate-fade-up animate-once animate-duration-[850ms] animate-delay-[400ms] animate-ease-in-out">
                    </app-top-three>
                }

                <ul *rxIf="view.placements.length"
                    class="divide-y divide-solid mt-2">
                    @for (placement of view.placements; track placementTrackingBy($index, placement); ) {
                        <app-list-item [placement]="placement"
                                       [circle]="view.circle"
                                       class="animate-fade-up animate-once animate-duration-[850ms] animate-delay-[400ms] animate-ease-in-out">
                        </app-list-item>
                    }
                </ul>
            </section>

            @if (!view.placements.length && !view.topThreePlacements.length) {
                <section class="col-span-full row-start-3 md:col-start-2 md:col-span-2 md:row-start-2">
                    <div class="relative h-60 w-60 mx-auto">
                        <img ngSrc="/assets/img/svg/election-day.svg"
                             priority="true"
                             alt="election vote"
                             fill="true"
                             class="object-cover select-none">
                    </div>

                    <h5 class="text-xl text-center my-6 font-normal tracking-wide">
                        No one has voted, <br>
                        <button mat-button
                                color="accent"
                                role="button"
                                type="button"
                                (click)="onShowMembers()">
                            give a vote!
                        </button>
                    </h5>
                </section>
            }
        </ng-container>

        <ng-template #suspense>
            <div>
                Loading...
            </div>
        </ng-template>
    </div>
</div>

