<div class="layout-container layout-whitespace">
    <section class="bg-white">
        <div class="px-4 mx-auto max-w-2xl">
            <h2 class="mb-4 text-xl font-bold text-gray-900">Create a new circle</h2>
            <form [formGroup]="form"
                  (submit)="onSubmit()">
                <div class="grid grid-cols-2 gap-4 items-center">
                    <div class="col-span-2 md:col-span-1 md:w-full">
                        <div>
                            <mat-label>
                                <label for="name">
                                    Name
                                </label>
                            </mat-label>
                            <mat-form-field class="w-full"
                                            appearance="outline">
                                <input matInput
                                       type="text"
                                       id="name"
                                       name="name"
                                       required
                                       formControlName="name"/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-span-2 md:col-span-1 md:w-full">
                        <div class="daisy-form-control w-full">
                            <label for="imgSrc" class="daisy-label">
                                <span class="daisy-label-text">Image</span>
                            </label>
                            <input type="file"
                                   id="imgSrc"
                                   name="imgSrc"
                                   [formControl]="form.controls.imgSrc"
                                   class="daisy-file-input daisy-input-bordered daisy-input-accent w-full"/>
                        </div>
                    </div>
                    <div class="col-span-2">
                        <div>
                            <mat-label>
                                <label for="description">
                                    Description
                                </label>
                            </mat-label>
                            <mat-form-field class="w-full"
                                            appearance="outline">
                             <textarea matInput
                                       cdkTextareaAutosize
                                       rows="2"
                                       cols="30"
                                       id="description"
                                       formControlName="description">
                            </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-span-2 md:col-span-1 md:w-full">
                        <label>
                            <span class="daisy-label-text">Voters</span>
                        </label>
                        <vyf-user-autocomplete [fetchOptionsFn]="allUsersFn$"
                                               [filteredFetchOptionsFn]="allFilteredUsersFn$">
                        </vyf-user-autocomplete>
                    </div>
                    <div class="col-span-2 md:col-span-1 md:w-full">
                        <div>
                            <mat-label>
                                <label for="validUntil">
                                    Valid until
                                </label>
                            </mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput
                                       id="validUntil"
                                       name="validUntil"
                                       [matDatepicker]="picker">
                                <mat-datepicker-toggle matIconSuffix [for]="picker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="daisy-form-control w-full max-w-xs">
                            <label for="private" class="daisy-label cursor-pointer max-w-xs">
                                <span class="daisy-label-text">Private</span>
                                <input id="private"
                                       name="private"
                                       type="checkbox"
                                       checked=""
                                       [formControl]="form.controls.private"
                                       class="daisy-checkbox max-w-xs"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="w-full flex flex-row gap-2 mt-2">
                    <a [routerLink]="['/circles']"
                       mat-flat-button
                       color="accent"
                       role="button">
                        Cancel
                    </a>
                    <button mat-flat-button
                            color="primary"
                            type="submit">
                        Create Circle
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
