<div class="layout-container">
    <section class="bg-white">
        <div class="py-8 px-4 mx-auto max-w-2xl">
            <h2 class="mb-4 text-xl font-bold text-gray-900">Create a new circle</h2>
            <form [formGroup]="form"
                  (submit)="onSubmit()">
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                    <div class="w-full">
                        <div class="daisy-form-control w-full max-w-xs">
                            <label for="name" class="daisy-label">
                                <span class="daisy-label-text">Name</span>
                            </label>
                            <input type="text"
                                   id="name"
                                   name="name"
                                   placeholder="My Circle!"
                                   required
                                   [formControl]="form.controls.name"
                                   class="daisy-input daisy-input-bordered daisy-input-primary w-full max-w-xs"/>
                        </div>
                    </div>
                    <div class="col-span-2">
                        <div class="daisy-form-control w-full max-w-xs">
                            <label for="description" class="daisy-label">
                                <span class="daisy-label-text">Description</span>
                            </label>
                            <textarea id="description"
                                      name="description"
                                      [formControl]="form.controls.description"
                                      class="daisy-textarea daisy-textarea-bordered daisy-textarea-primary w-full max-w-xs h-24"></textarea>
                        </div>
                    </div>
                    <div class="col-span-2">
                        <div class="daisy-form-control w-full max-w-xs">
                            <label for="imgSrc" class="daisy-label">
                                <span class="daisy-label-text">Image</span>
                            </label>
                            <input type="text"
                                   id="imgSrc"
                                   name="imgSrc"
                                   [formControl]="form.controls.imgSrc"
                                   class="daisy-input daisy-input-bordered daisy-input-primary w-full max-w-xs"/>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="daisy-form-control w-full max-w-xs">
                            <label for="validUntil" class="daisy-label">
                                <span class="daisy-label-text">Valid until</span>
                            </label>
                            <input type="datetime-local"
                                   id="validUntil"
                                   name="validUntil"
                                   [formControl]="form.controls.validUntil"
                                   class="daisy-input daisy-input-bordered daisy-input-primary w-full max-w-xs"/>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="daisy-form-control">
                            <label for="private" class="daisy-label cursor-pointer">
                                <span class="daisy-label-text">Private</span>
                                <input id="private"
                                       name="private"
                                       type="checkbox"
                                       checked=""
                                       [formControl]="form.controls.private"
                                       class="daisy-checkbox"/>
                            </label>
                        </div>
                    </div>
                </div>
                <a [routerLink]="['/circles']"
                   class="daisy-btn daisy-btn-secondary"
                   role="button">
                    Cancel
                </a>
                <button class="daisy-btn daisy-btn-primary"
                        type="submit">
                    Create Circle
                </button>
            </form>
        </div>
    </section>
</div>
