<ng-container *rxLet="view$; let view;">
    <ul class="flex flex-wrap items-center space-x-2 md:block md:space-y-4 md:space-x-0 md:text-left text-gray-500">
        <li class="flex items-center space-x-1 md:space-x-2 whitespace-nowrap">
            <i-feather name="list"
                       class="align-top flex-shrink-0 w-3.5 h-3.5 text-gray-500">
            </i-feather>
            <a [routerLink]="['/ranking', view.circle.id]"
               mat-button
               role="link"
               color="accent">
                Go to Ranking List
            </a>
        </li>

        @if (!(view.circle.stage | circleStage:CircleStage.Closed)) {
            @if (!view.isUserVoterMemberOfCircle && !view.circle.private) {
                <app-circle-detail-action-item-join [circleId]="view.circle.id"
                                                    [subject]="'voter'">
                </app-circle-detail-action-item-join>
            }

            @if (view.isUserVoterMemberOfCircle) {
                <app-circle-detail-action-item-leave-voter [circleId]="view.circle.id">
                </app-circle-detail-action-item-leave-voter>
            }

            @if (!view.isUserCandidateMemberOfCircle && !view.circle.private) {
                <app-circle-detail-action-item-join [circleId]="view.circle.id"
                                                    [subject]="'candidate'">
                </app-circle-detail-action-item-join>
            }

            @if (view.isUserCandidateMemberOfCircle) {
                <app-circle-detail-action-item-commitment [circleId]="view.circle.id"
                                                          [commitment]="view.circleUserCandidateMember!.candidate.commitment">
                </app-circle-detail-action-item-commitment>
            }
        }
    </ul>
</ng-container>
