<li class="flex items-center space-x-1 md:space-x-2 whitespace-nowrap">
    @if (subject === 'voter') {
        <i-feather name="plus-circle"
                   class="align-top flex-shrink-0 w-3.5 h-3.5 text-gray-500">
        </i-feather>
    } @else {
        <i-feather name="award"
                   class="align-top flex-shrink-0 w-3.5 h-3.5 text-amber-500">
        </i-feather>
    }
    <button mat-button
            color="accent"
            role="button"
            type="button"
            (click)="onJoinCircle()">
        @if (subject === 'voter') {
            Join Circle
        } @else {
            Get listed as candidate
        }
    </button>
</li>
