<div class="carousel">
    <ng-container *rxFor="let circle of circles;">
        <app-circle-card [circle]="circle"
                         class="item">
        </app-circle-card>
    </ng-container>

    <ng-container *rxIf="!circles.length">
        <div class="flex flex-col justify-center items-center w-full">
            <h5>
                It seems like you do not have any circles.
            </h5>

            <a [routerLink]="['/circles', 'create']"
               mat-button
               color="accent"
               role="button">
                You can Create one here
            </a>
        </div>
    </ng-container>
</div>
