<ng-container *rxLet="view$; let view;">
    <div class="flex flex-row gap-2">
        <div class="rounded-xl bg-gray-200 py-1 px-3 my-auto">
            <p class="text-gray-950">
                Circle:
            </p>
        </div>
        <div class="rounded-xl bg-gray-100 py-1 px-3 flex-1 flex flex-row gap-2">
            <vyf-circle-autocomplete-select [filteredFetchOptionsFn]="allFilteredCirclesFn$"
                                            [preSelectedCircle]="view.circle"
                                            [previewCircles]="previewCircles$ | push"
                                            (selectedCircleId)="selectedCircle($event)"
                                            class="flex-1">
            </vyf-circle-autocomplete-select>
            <i-feather name="arrow-right-circle"
                       class="align-top">
            </i-feather>
        </div>
    </div>
</ng-container>
